@import url("./reset.css");

:root {
  --primary-color: #67af43;
  --secondary-color: #086d36;

  --background-main: #f6f6f6;
  --card-primary: #e8f7ff;
  --card-secondary: #ebf3fe;

  --color-white: #fff;
  --color-black: #000;
}

body {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  font-size: 1.2rem;
  background-color: var(--primary-color);

  position: sticky;
  top: 0;
  z-index: 1000;

  animation: enhance-header linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 400px;

  img {
    width: 50px;
  }

  nav {
    display: flex;

    ul {
      display: flex;
      gap: 2.5rem;
      list-style: none;

      li {
        a {
          color: #fff;
          font-weight: 500;
          border-bottom: 2px solid;
          border-color: transparent;
          transition: all 0.3s ease;

          &:hover {
            border-color: #fff;
          }
        }
      }
    }
  }
}

/* ! Responsive HEADER */

@media (max-width: 760px) {
  header {
    nav ul {
      display: none;
    }
  }
}

/* ! HERO */

.hero {
  min-height: 90dvh;

  display: flex;
  justify-content: center;

  .hero_content {
    display: flex;
    gap: 4rem;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem;

    img {
      width: 300px;
    }

    div {
      max-width: 762px;
      text-align: right;

      h1 {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        color: var(--secondary-color);
      }

      h2 {
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    .hero_buttons {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-top: 1rem;

      button {
        border-radius: 8px;
        padding: 0.5rem 1rem;
        background-color: var(--primary-color);
        color: var(--color-white);
        cursor: pointer;

        &:hover {
          background-color: var(--secondary-color);
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 1200px) {
  .hero {
    .hero_content {
      gap: 1rem;
      img {
        width: 320px;
      }

      div {
        text-align: center;

        h1 {
          font-size: 3rem;
        }

        h2 {
          font-size: 1.2rem;
        }

        .hero_buttons {
          justify-content: center;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .hero {
    .hero_content {
      gap: 2.5rem;

      align-content: center;

      img {
        width: 300px;
      }

      div {
        h1 {
          font-size: 2.5rem;
        }

        h2 {
          font-size: 1.1rem;
        }

        .hero_buttons {
          display: inline-block;

          button:first-child {
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .hero {
    .hero_content {
      gap: 1rem;

      img {
        width: 250px;
      }

      div {
        h1 {
          font-size: 2rem;
        }

        h2 {
          font-size: 1rem;
        }
      }
    }
  }
}

/* ! CHARACTERISTICS Carrusel */

.characteristics {
  display: flex;
  justify-content: center;
  align-items: center;

  .carousel {
    position: relative;
    overflow: hidden;

    background: var(--background-main);
    width: 100%;

    /* sombra  */
    box-shadow: 0 0 20px var(--accent-color);

    .carousel_container {
      display: flex;
      transition: transform 0.5s ease;

      padding: 3rem 0;

      .carousel_slide {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        min-width: 100dvw;
        text-align: center;

        div:nth-child(odd) {
          width: 460px;
          text-align: left;

          h2 {
            font-size: 3rem;
            margin-bottom: 1rem;
            font-weight: 700;
          }

          p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }
        }

        div:nth-child(even) {
          width: 460px;
          text-align: right;

          h2 {
            font-size: 3rem;
            margin-bottom: 1rem;
            font-weight: 700;
          }

          p {
            font-size: 1.25rem;
            margin-bottom: 1rem;
          }
        }

        img {
          width: 250px;
          height: auto;
        }
      }
    }

    .carousel_control {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      padding: 10px;
      cursor: pointer;

      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }

    .carousel_indicator {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;

      button {
        width: 20px;
        height: 20px;
        border: 2px solid var(--primary-color);
        background-color: transparent;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
          background-color: var(--primary-color);
        }
      }
    }
  }
}

/* Responsive */
@media (max-width: 1200px) {
  .characteristics {
    .carousel {
      .carousel_container {
        padding: 2rem 0;

        .carousel_slide {
          div:nth-child(odd) {
            width: 400px;

            h2 {
              font-size: 2rem;
            }

            p {
              font-size: 1rem;
            }
          }

          div:nth-child(even) {
            width: 400px;

            h2 {
              font-size: 2rem;
            }

            p {
              font-size: 1rem;
            }
          }

          img {
            width: 100px;
          }
        }
      }

      .carousel_control {
        padding: 5px;

        svg {
          width: 40px;
          height: 40px;
        }

        &.left {
          left: 5px;
        }

        &.right {
          right: 5px;
        }
      }

      .carousel_indicator {
        button {
          width: 15px;
          height: 15px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .characteristics {
    .carousel {
      .carousel_container {
        padding: 2rem 0rem;

        .carousel_slide {
          &:nth-child(odd) {
            padding: 0rem 10rem;
            flex-direction: column;
          }

          &:nth-child(even) {
            flex-direction: column-reverse;
          }

          div:nth-child(odd) {
            text-align: center;
          }

          div:nth-child(even) {
            text-align: center;
          }

          img {
            width: 150px;
          }
        }
      }

      .carousel_control {
        padding: 5px;

        svg {
          width: 30px;
          height: 30px;
        }

        &.left {
          left: 5px;
        }

        &.right {
          right: 5px;
        }
      }

      .carousel_indicator {
        button {
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .characteristics {
    .carousel {
      .carousel_container {
        .carousel_slide {
          div:nth-child(odd) {
            width: 300px;
          }

          div:nth-child(even) {
            width: 300px;
          }
        }
      }
    }
  }
}

/* !PLANS */
.plans {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  .content {
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
    color: var(--secondary-color);
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    .card {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      padding: 1rem 1.2rem;
      max-width: 280px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .card_header {
        text-align: center;
        img {
          width: 70px;
          height: auto;
        }
      }
      .card_body {
        ul {
          padding-left: 1.5rem;
          li {
            list-style-type: disc;
          }
        }
      }

      .card_footer {
        text-align: center;
        span {
          font-size: 2rem;
          font-weight: bold;
        }
        button {
          margin-top: 1rem;
          background-color: var(--primary-color);
          color: var(--color-white);
          padding: 0.5rem 1rem;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: var(--secondary-color);
          }
        }
      }
    }
  }
}

/* Responsive */

@media (max-width: 500px) {
  .plans {
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .cards {
      .card {
        max-width: 250px;
      }
    }
  }
}

/* !TEAM */

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  .content {
    text-align: center;
    padding: 0 2rem;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 2rem 0;
    color: var(--secondary-color);
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .members {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;

    .member {
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      padding: 1rem 1.2rem;
      max-width: 260px;
      border-radius: 10px;
      img {
        width: 130px;
        height: 130px;
        object-fit: cover;
        border-radius: 1rem;
        margin-bottom: 0.5rem;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 1rem;
        margin-bottom: 0;
      }
    }
  }
}

/* Responsive */

@media (max-width: 768px) {
  .team {
    .content {
      padding: 0 2rem;
    }
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .members {
      .member {
        max-width: 200px;
      }
    }
  }
}
